
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
 
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div style="margin-left: 20px;">
    <!--   <div class="page-header header">
        <b><a ><font color="white">Desenv. de aplicações distribuídas</font></a></b><br><br>
        
      </div> -->
    
    
      <button *ngIf="auth.isProfessor()" class="btn btn-success ajuste3 ajuste7  btn-lg" (click)="alertNewTopico()" type="button" id=""><span class="glyphicon glyphicon-plus" ></span> Novo Tópico</button>
     <!--  <button class="btn btn-info  btn-lg ajuste7" (click)="alertNewFile()" type="button" id="button-addon2"><span class="glyphicon glyphicon-cloud-upload" style="color:white;" aria-hidden="true"></span><font color="white"> Enviar Arquivo</font></button>
       -->
      <div class="input-group mb-3" >
      <!--    <input type="text" class="ajuste"  placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" class="ajuste2" type="button" id="button-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
     -->
       
     <h3 style="text-transform: uppercase;"><b>{{nome}}</b></h3>
      </div>
    
      
    </div>
    
    <div style="width:35%;float:left;">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span class="	glyphicon glyphicon-book" ></span> <font [size]="4"> Tópicos</font>
              </button>
            </h5>
          </div>
        
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div *ngFor="let i of topicos">
              <div class="card card-body" *ngIf="idAtual === i.disciplineId">
                  <button class="dropdown-item" (click)="altertable(i.id,i.title)"><span class="	glyphicon glyphicon-book" ></span><font [size]="2"> {{i.title}}</font></button>
               
              </div>
          </div>
          </div>
        </div>
     
      
      </div>
      <div id="linha-vertical"></div>
      
    </div>
    
    
    
    <div style="width:65%;float:right;">
      
    <table  id="example" class="table table-striped table-bordered table-sm row-border hover" style="width:100%">
     
      <tbody >
         
      </tbody>
     
      
    </table>
    <a id="exrt"></a>
    </div>
