<div class="container">
    <h2 class="ajuste5">Upload de Novo Arquivo</h2>

    <h4>Informe o Nome do Arquivo:</h4>
    <input class="form-control ajuste5" type="text" id="nome" placeholder="Nome Arquivo...">

    
    <h4>Informe uma Descrição:</h4>
    <input class="form-control ajuste5" type="text"  id="desc" placeholder="Descrição Arquivo...">
    
    <input  id="import"  type="file"  (change)="onChange($event)"/>

    <!-- <button class="btn btn-success ajuste3 btn-lg" (click)="CreateFile()">Confirmar</button>
    <button class="btn btn-danger  btn-lg">Cancelar</button> -->

    </div>