.ajuste{
    width:250px;
}

.ajuste2{
    margin-right:550px;
}

.ajuste3{
    margin-right:50px;
}

.ajuste7{
    margin-bottom:50px;
}



.ajuste4{
    margin-bottom:50px;
}
.ajuste5{
    margin-bottom:30px;
}


.left{
    margin-left:-650px;
    font-size: 14px;
    
}
.left2{
    margin-left:600px;
    
}
.left3{
    margin-left:-45px;
    
}
.list{
    border-width: medium;
    border-style: solid;
    border-color: #000000;
    width: 280px;
    height: 350px;
}
.fundo{
    background-color: darkslategrey ;
}

#linha-vertical {
    height: 500px;
    border-right: 1px solid black;
}

.ret4{
    display:block;
}


